* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  background-color: rgb(232, 232, 232);
}

.app h1 {
  font-size: 2.2em;
  padding: 2.5vh;

  text-align: center;
  text-decoration: underline;
}