.userCard {
    user-select: none;

    display: inline-block;

    padding: 2.5vh;
    margin: 2.5vh;

    width: 27.5vw;

    border: 2px solid rgb(176, 176, 176);
    border-radius: 2vh;

    background-color: white;

    filter: drop-shadow( 0px 0px 0px rgba(0, 0, 0, 0.128));

    transition: 0.3s ease;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 3vh;
    color:cornflowerblue;
}

p {
    margin-bottom: 1vh;
    color: rgb(77, 77, 77);
}

.userCard:hover {
    filter: drop-shadow( 0px 7px 2px rgba(0, 0, 0, 0.128));
    cursor: pointer;
    transform: translateY(-7px);
}