.error {
    background-color: rgba(255, 0, 0, 0.406);
    border-radius: 1vh;
}

.contenedorPokemons {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 5vh 0;
}

.pokemonGrid {
    flex-wrap: wrap;
    
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5vh;
}

.reloadButton button{
    padding: 2vh 2.5vh;
    border-radius: 1.5vh;
    border: none;
    background-color: #4a90e2;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.reloadButton button:hover {
    background-color: #357ac9;
}

.searchInput {
    padding: 2vh;
    width: 100%;
    max-width: 300px;
    border-radius: 1.5vh;
    border: 1px solid #ccc;

    font-size: 2vh;

    margin: 0 2.5vh 0 0;
}

.busquedaPokemon {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.busquedaPokemon button {
    padding: 2vh;
    border-radius: 1.5vh;

    color: white;
    font-size: 2vh;

    margin: 0 2.5vh 0 0;

    border: none;
    background-color: #4a90e2;


    display: flex;
    align-items: center;
    justify-content: center;
}

.paginacion {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 5vh;
    margin-bottom: 1.5vh;
}

.paginacion span {
    font-size: 1.5em;

    margin: 0 2vh;
}

.paginacion button {
    border: none;
    background-color: #4a90e2;

    color: white;

    font-size: 2em;

    width: 5vh;
    height: 5vh;
    border-radius: 1vh;

    margin: 0 1vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: monospace;
}

.paginacion button:hover {
    background-color: #4486d1;
    cursor: pointer;
}

.paginacion button:active {
    background-color: #3d78bb;
}

.gotoPage {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 5vh;

    gap: 2.5vh;
}

.gotoPage button {
    border: none;
    background-color: #4a90e2;

    color: white;

    font-size: 2vh;
    padding: 1vh 1.5vh;

    border-radius: 1vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.gotoPage input {
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 5vh;

    font-size: 2vh;
    padding: 1vh;

    border-radius: 1vh;
}

.gotoPage input[type="number"]::-webkit-inner-spin-button,
.gotoPage input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.gotoPage input[type="number"] {
    -moz-appearance: textfield;
}