.userCard {
    user-select: none;

    display: inline-block;

    padding: 2.5vh;

    width: 10vw;
    height: 25vh;

    border: 2px solid rgb(176, 176, 176);
    border-radius: 2vh;

    background-color: white;

    filter: drop-shadow( 0px 0px 0px rgba(0, 0, 0, 0.128));

    transition: 0.3s ease;
}

.imgUserCard {
    width: 100%;
    height: 15vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgUserCard img {
    max-height: 15vh;
}

.userCard h3 {
    font-size: 1.4em;

    height: 7.5vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    color:cornflowerblue;
    text-align: center;
}

.userCard p {
    height: 2.5vh;

    display: flex;
    align-items: end;
    justify-content: left;

    color: rgb(77, 77, 77);
}

.userCard:hover {
    filter: drop-shadow( 0px 5px 2px rgba(0, 0, 0, 0.128));
    cursor: pointer;
    transform: translateY(-5px);
}