* {
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  width: 100%;
  height: auto;

  align-items: center;
  justify-content: center;
  
  margin: 2.5vh 0;

  background-color: antiquewhite;
}

.contenido {
    display: inline-block;
    width: 50vh;
}

h1 {
  text-align: center;
  width: 50vh;
}